*.DS_STORE
*.png
Notte.xcodeproj/project.xcworkspace/xcuserdata/*
Notte.xcodeproj/project.xcworkspace/xcuserdata/
Notte.xcodeproj/xcuserdata/
Notte.xcodeproj/project.xcworkspace/xcuserdata
buildServer.json
*.xcuserstate
.vscode/*
.build/*
